@charset "UTF-8";
body{
	margin: 2em 0 0 2em;
	font-family: sans-serif;
	letter-spacing: 1px;
}
h2{
	font-weight: bold;
}
.error{
	color: red;
}
.error5{
	color: red;
	font-size: 1em;
	margin-top: 1em;
}
.error6{
	color: red;
	font-size: 1em;
	margin-top: 1em;
}
.error7{
	color: red;
	font-size: 1em;
	margin-top: 1em;
}
.error8{
	color: red;
	font-size: 1em;
	margin-top: 1em;
}
#assignment-div{
	margin-top: 1em;
	line-height: 1.5em;
}

